body {
  font-size: 52.5%;
  text-decoration-color: #333;
}
.container {
  margin: auto;
  border: 2px solid black;
  padding: 8px 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.441rem;
}

p {
  font-style: italic;
  text-decoration-color: #333;
  font-size: 1rem;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

li {
  font-size: 0.8rem;
  padding: 0 15px;
}

@media only screen and (max-width: 300px) {
  .container {
    width: 540px;
  }
}
